/*done for now!*/
html {
  background-image: url("../odin-recipes/img/anime-food.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.index-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Garamond, serif;
  font-size: 30px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#title {
  color: rgb(183, 2, 89);
  font-family: "Brush Script MT", cursive;
  font-size: 55px;
}
a:link {
  color: rgb(108, 0, 65);
}

a:hover {
  color: rgb(158, 181, 230);
}
